doctype html
html
    head 
        meta(charset="urf8")
        meta(property="og:url" content="https://practiceguitar.herokuapp.com/")
        meta(property="og:title" content="🎸기타 연습장")
        meta(property="og:type" content="website")
        meta(property="og:image" content="/assets/guitar.jpg")
        meta(property="og:description" content="기타 연습합시다!")
        title #{pageTitle} | 기타 연습장
        style 
            include ../css/base.css
    body 
        block content

