#Container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 30px;
}

h1 {
    color: #195973;
    font-size: 45px;
    height: 30px;
    display: flex;
    align-items: center;
}

#UserForm {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5FAAD9;
    border-radius: 10px;
    box-shadow: 10px 10px 2px 2px rgb(25,89,115, 0.8);
    margin-bottom: 50px;
}

input {
    height: 38px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
}

.Blank {
    width: 400px;
    margin-bottom: 20px;
}

.Blank:focus {
    outline: none;
    border: 2px solid tomato;
}

.Blank::placeholder {
    color: #5FB6D9;
    font-size: 15px;
}

#Btn {
    background-color: #195973;
    color: tomato;
    font-size: 18px;
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 600;
}

#SignUpBox {
}

#SignUpBox span {
    color: #5FAAD9;;
    font-size: 16px;
    font-weight: 600;
}

#SignUpBox a {
    color: #195973;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}

#Error {
    color: #FFD07D;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}

#KakaoLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#KakaoLogin{
    width: 300px;
    height: 40px;
}